.liste{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 20px;
}

.card{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 300px;
	margin: 10px;
	background-color: rgba(255, 0, 0, 0.525);
	padding: 40px;
	border-radius: 10px;
}

.card:hover
{
	background-color: rgba(255, 0, 0, 0.788);
}

